<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_blogpost.css') }}">
</head>
<body>
    <h1>Add a New Blog Post</h1>
    <form method="POST" action="/add_blogpost" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required><br><br>

        <label for="date_posted">Date Posted:</label>
        <input type="datetime-local" id="date_posted" name="date_posted" required><br><br>

        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="10" cols="30" required></textarea><br><br>

        <label for="image">Image:</label>
        <input type="file" id="image" name="image"><br><br>

        <input type="submit" value="Add Blog Post">
    </form>
</body>
</html>
