{% extends "base.html" %}
{% block title %} Index Page {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/client.css')}}" />
<link rel="stylesheet" href="{{url_for("static", filename="css/book.css")}}" />
<link rel="stylesheet" href="{{url_for("static", filename="css/planNpricing.css")}}" />
<link rel="stylesheet" href="{{url_for("static", filename="css/ProgramList.css")}}" />
<link rel="stylesheet" href="{{url_for("static", filename="css/login1.css")}}" />

<body>
    

    <main>
        <div class="login-form">
            <h2>Login</h2>
            <form method="POST" action="{{ url_for('login') }}">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Login</button>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </main>
</body>
{% endblock %}