{% extends "base.html" %}
{% block title %} Register Page {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}" />

<body>
    <main>
        <div class="register-form">
            <h2>Register</h2>
            <form method="POST" action="{{ url_for('register') }}">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="role">Role:</label>
                <select id="role" name="role" required>
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                    <option value="Parent">Parent</option>
                    <option value="Accountant">Accountant</option>
                    <option value="Bursar">Bursar</option>
                    <option value="Director">Director</option>
                </select>

                <button type="submit">Register</button>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </main>
</body>
{% endblock %}
